.user-profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  width: 45px;
  height: 45px;
  background-color:#b58900;
  box-shadow: 0 0 0 3px rgba(17, 24, 39, 0.6);
  color: #000000;
  font-size: 25px;
  border-radius: 30%;
  font-weight: 100;
}

.name-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-row {
  display: flex;
  align-items: center; 
  gap: 12px;
}

.name-style{
  font-weight: 600;
  color: #1e293b;

}
.email-style{
  font-weight: 200;
  color: #30343c;
  font-size: 13px;
}